<div class="topNews">
  <div class="topNews-left">
    <div class="cards">
      <div class="topLeft">
        <div class="newsBg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
            error excepturi fugiat, nisi eum possimus aliquam, accusamus,
            dignissimos accusantium dolorem numquam totam.
          </p>
        </div>
      </div>
      <div class="topRight">
        <div class="newsBg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
            error excepturi fugiat, nisi eum possimus aliquam, accusamus,
            dignissimos accusantium dolorem numquam totam.
          </p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="midLeft">
        <div class="newsBg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
            error excepturi fugiat, nisi eum possimus aliquam, accusamus,
            dignissimos accusantium dolorem numquam totam.
          </p>
        </div>
      </div>
      <div class="midRight">
        <div class="newsBg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
            error excepturi fugiat, nisi eum possimus aliquam, accusamus,
            dignissimos accusantium dolorem numquam totam.
          </p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="newsBg">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
          error excepturi fugiat, nisi eum possimus aliquam, accusamus,
          dignissimos accusantium dolorem numquam totam.
        </p>
      </div>
    </div>
  </div>
  <div class="topNews-right">
    <div>
      <mat-tab-group>
        <mat-tab label="First">
          <ul>
            <li *ngFor="let i of news">
              <span><mat-icon>navigate_next</mat-icon></span> {{ i.headline }}
            </li>
          </ul>
        </mat-tab>
        <mat-tab label="Second">
          <ul>
            <li *ngFor="let i of news">
              <span><mat-icon>navigate_next</mat-icon></span> {{ i.headline }}
            </li>
          </ul>
        </mat-tab>
        <mat-tab label="Third">
          <ul>
            <li *ngFor="let i of news">
              <span><mat-icon>navigate_next</mat-icon></span> {{ i.headline }}
            </li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
