<div class="topNews">
  <div class="topNews-left">
    <div class="cards">
      <div
        class="topLeft"
        slickContainer
        #slickController="slick"
        [slickConfig]="config"
      >
        <ng-container *ngIf="slickController.initialize">
          <div class="slick" slickItem>
            <img class="slick-img" src="../../assets/images/silk1.jpg" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              totam.
            </p>
          </div>
          <div class="slick" slickItem>
            <img class="slick-img" src="../../assets/images/silk2.jpg" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              totam.
            </p>
          </div>
          <div class="slick" slickItem>
            <img class="slick-img" src="../../assets/images/silk3.jpg" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              totam.
            </p>
          </div>
        </ng-container>
      </div>
      <div class="topRight">
        <div class="newsBg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
            error excepturi fugiat, nisi eum possimus aliquam
          </p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="midLeft">
        <div class="newsBg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
            error excepturi fugiat, nisi eum possimus aliquam
          </p>
        </div>
      </div>
      <div class="midRight">
        <div class="newsBg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
            error excepturi fugiat, nisi eum possimus aliquam
          </p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="newsBg">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
          error excepturi fugiat, nisi eum possimus aliquam,
        </p>
      </div>
    </div>
  </div>
  <div class="topNews-right">
    <div class="tabs">
      <mat-tab-group>
        <mat-tab label="First">
          <div>
            <div *ngFor="let i of news" class="news">
              <span><mat-icon>navigate_next</mat-icon></span> {{ i.headline }}
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Second">
          <div>
            <div *ngFor="let i of news" class="news">
              <span><mat-icon>navigate_next</mat-icon></span> {{ i.headline }}
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Third">
          <div>
            <div *ngFor="let i of news" class="news">
              <span><mat-icon>navigate_next</mat-icon></span> {{ i.headline }}
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="blogs">
  <div class="blogs-head">
    <div class="title titleColor">News</div>
    <div><button class="more">More</button></div>
  </div>
  <div class="blogs-head">
    <div class="newsCards">
      <img src="../../assets/images/silk1.jpg" alt="" />
      <p class="whiteTxt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
      </p>
      <span class="whiteTxt">39 sec ago</span>
    </div>
    <div class="newsCards">
      <img src="../../assets/images/silk2.jpg" alt="" />
      <p class="whiteTxt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
      </p>
      <span class="whiteTxt">39 sec ago</span>
    </div>
    <div class="newsCards">
      <img src="../../assets/images/silk3.jpg" alt="" />
      <p class="whiteTxt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
      </p>
      <span class="whiteTxt">39 sec ago</span>
    </div>
    <div class="newsCards">
      <img src="../../assets/images/silk4.jpg" alt="" />
      <p class="whiteTxt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla
      </p>
      <span class="whiteTxt">39 sec ago</span>
    </div>
  </div>
</div>
<div class="corner">
  <div class="corner-content">
    <div class="colWrapper col4">
      <div *ngFor="let item of imageObject" class="section borderBtm">
        <div class="about borderBtm">
          <div class="about-head">{{ item.head }}</div>
          <div class="about-subHead">{{ item.subHead }}</div>
        </div>
      </div>
    </div>
    <div class="colWrapper col4">
      <div *ngFor="let item of imageObject" class="section borderBtm">
        <div class="about borderBtm">
          <div class="about-head">{{ item.head }}</div>
          <div class="about-subHead">{{ item.subHead }}</div>
        </div>
      </div>
    </div>
    <div class="colWrapper col4">
      <div *ngFor="let item of imageObject" class="section borderBtm">
        <div class="about borderBtm">
          <div class="about-head">{{ item.head }}</div>
          <div class="about-subHead">{{ item.subHead }}</div>
        </div>
      </div>
    </div>
    <div class="colWrapper col4">
      <div *ngFor="let item of imageObject" class="section borderBtm">
        <div class="about borderBtm">
          <div class="about-head">{{ item.head }}</div>
          <div class="about-subHead">{{ item.subHead }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="corner">
  <div class="videoWrapper">
    <div style="color: #fff">Videos</div>
    <div class="videos">
      <iframe
        class="video"
        src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"
      >
      </iframe>
      <iframe
        class="video"
        src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"
      >
      </iframe
      ><iframe
        class="video"
        src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"
      >
      </iframe
      ><iframe
        class="video"
        src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"
      >
      </iframe>
    </div>
  </div>
</div>
<div class="blogs">
  <div class="blogs-head">
    <div class="title">Blogs</div>
    <div><button class="more">More</button></div>
  </div>
  <div class="blogs-head">
    <div class="newsCards">
      <img class="blogImg" src="../../assets/images/silk1.jpg" alt="" />

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla</p>
      <span class="titleColor">39 sec ago</span>
    </div>
    <div class="newsCards">
      <img class="blogImg" src="../../assets/images/silk2.jpg" alt="" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla</p>
      <span class="titleColor">39 sec ago</span>
    </div>
    <div class="newsCards">
      <img class="blogImg" src="../../assets/images/silk3.jpg" alt="" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla</p>
      <span class="titleColor">39 sec ago</span>
    </div>
    <div class="newsCards">
      <img class="blogImg" src="../../assets/images/silk4.jpg" alt="" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla</p>
      <span class="titleColor">39 sec ago</span>
    </div>
  </div>
</div>

<div class="corner">
  <div><button mat-flat-button color="warn">Utsah Corner</button></div>
  <div class="corner-content">
    <div class="colWrapper">
      <div *ngFor="let item of imageObject" class="section">
        <div class="image"><img src="{{ item.img }}" alt="" /></div>
        <div class="about">
          <div class="about-head">{{ item.head }}</div>
          <div class="about-subHead">{{ item.subHead }}</div>
        </div>
      </div>
    </div>
    <div class="colWrapper">
      <div *ngFor="let item of imageObject" class="section">
        <div class="image"><img src="{{ item.img }}" alt="" /></div>
        <div class="about">
          <div class="about-head">{{ item.head }}</div>
          <div class="about-subHead">{{ item.subHead }}</div>
        </div>
      </div>
    </div>

    <div class="ads">
      <img src="assets/images/silk4.jpg" alt="" />
    </div>
  </div>
</div>
