<div class="footer">
  <div class="col footerLogo">
    <div class="footerLogo-logo">
      <img src="../../assets/images/logo2.jpg" alt="" />
    </div>
  </div>
  <div class="col">
    <div class="head">Let's Talk</div>
    <p>Founder : Achala Sharma</p>
    <p>
     
      <a href="mailto:achala@solutionhub.com" target="_blank">
       Email:  achala@solutionhub.com
      </a>
    </p>
    <p><a href="info@utsaha.in" target="_blank">info@utsaha.in</a></p>
    <p><a href="tel:+12049623571" target="_blank">+1 (204) 962-3571</a></p>
  </div>
  <div class="col">
    <div class="head">Office Address</div>
    <p>
      14 LEAMEN CRES, Winnnipeg MB R2PONB, <br />
      CANADA
    </p>
  </div>
</div>
